.contact {
    background: #A9C2BE;
    margin: 100px 0;
}

.contact-wrapper {
    position: relative;
    display: flex;
}

.contact-left-img {
    width: 670px;
    height: 520px;
}

.contact-modal {
    position: absolute;
    top: 30px;
    right: 10%;
}